.Body {
  margin-top: 50px;
}

h1 {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
}

h4 {
  font-family: "montserrat", sans-serif;
}

.GetStartedButton {
  font-family: "montserrat", sans-serif;
  font-weight: 700;
  font-size: medium;
  color: white;
  position: absolute;
  width: 259px;
  height: 59px;
  cursor: pointer;
  background: linear-gradient(
    109.84deg,
    rgba(255, 255, 255, 0.36) -74.94%,
    #524abf 94.73%
  );
  border: 0px;
  border-radius: 10px;
}

.loginDialog {
  width: 800px;
  height: 500px;
  color: black;
  left: 50%;
  margin-left: -400px;
  margin-top: 35px;
  padding-top: 0px;

  background: radial-gradient(
    99.22% 95.22% at -4.87% -3.43%,
    rgba(255, 255, 255, 0.252) 0%,
    rgba(255, 255, 255, 0.297) 100%
  );

  border: 1px solid rgba(255, 255, 255, 0.21);
  box-sizing: border-box;
  backdrop-filter: blur(25px);

  /* Note: backdrop-filter has minimal browser support */
  border-radius: 17px;
}

.loginDialogText {
  font-family: "montserrat", sans-serif;
  font-weight: 300;
  font-size: 27px;
}
